body{
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;

}

h1{
    font-size: 3vw;
    margin-top: 0;
    padding-top: 15%;
}

h2{
    font-size: 3vw;
}
p{
    font-size: 1vm;
}

nav{
    background-color: #3a3a3a;
    padding: 1rem;
    position: fixed; /* Fixed so nav bar follow site */
    width: 100%;
}

.nav-text {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.nav-text:hover {
    background-color: white;
    color:#3a3a3a;
}

.nav-text-active {
    text-decoration: none;
    background-color: white;
    color:#3a3a3a;
    padding: 1rem;
}



.content{
    max-width: 60%;
    margin-left: 20%;
}



.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 0%;
    padding: 0%;
}

.grid-item{
    color: black;
    padding: 10%;
}
.grid-text{
    row-gap: 0;
    margin: 10%;
}


.img{
    width: 100%;
}