body{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;

}


h1{
    font-size: 4vw;
}

h2{
    font-size: 3vw;
}








nav{
    background-color: #3a3a3a;
    padding: 1rem;
    position: fixed; /* Fixed so nav bar follow site */
    width: 100%;

}

.nav-text {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.nav-text:hover {
    background-color: white;
    color:#3a3a3a;
}

.nav-text-active {
    background-color: white;
    color:#3a3a3a;
}





.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    margin: 0%;
    padding: 0%;
}

.grid-item{
    color: black;
    padding: 10%;
}
.grid-text{
    margin: 10%;
}


.img{
    width: 100%;
}